<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<h1>CICD를 성공적으로 수행하였습니다.</h1>
		<h2>이제부터 반영하는 코드는 바로 웹서버로 베포 됩니다.</h2>
		<h3>잘 CICD가 적용되는지 확인</h3>
	</body>
</html>
